body {
    display: grid;
    place-items: center;
    margin: 0;
    font-family: 'Sarabun';
    font-size: 2em;
}

#availability {
    text-align: center;
}

#installButton {
    padding: 0.5em;
    margin: 0.25em;
    font-size: 1em;
}

#qrLink {
    font-size: 90%;
}

#attributions {
    font-size: 60%;
}

#header {
    margin-bottom: 0.25em;
}